<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <script>
  (function() {
    // Redirect from anything that is not the main site url (or localhost, for development).
    var targetHref = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}";
    var onValidHost = window.location.hostname === 'localhost' ||
      window.location.href === targetHref;

    if (!onValidHost) {
      window.location.href = targetHref;
    }
  })();

  document.addEventListener('DOMContentLoaded', function() {
    var header = document.querySelector('header');
    var headerHeight = header.offsetHeight;
    var translatePx = 0;
    var prevScrollTop = document.body.scrollTop;

    document.addEventListener('scroll', function() {
      var scrollTop = Math.min(Math.max(document.body.scrollTop, 0), document.body.offsetHeight - document.documentElement.clientHeight);

      if (scrollTop > prevScrollTop && translatePx < headerHeight) {
        translatePx = Math.min(translatePx + scrollTop - prevScrollTop, headerHeight);
        header.style.transform = header.style.webkitTransform =
          'translate3d(0, -' + translatePx + 'px, 0)';
      } else if (scrollTop < prevScrollTop && translatePx > 0) {
        translatePx = Math.max(translatePx + scrollTop - prevScrollTop, 0);
        header.style.transform = header.style.webkitTransform =
          'translate3d(0, -' + translatePx + 'px, 0)';
      }

      prevScrollTop = scrollTop;
    });
  });
  </script>
  <script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
</head>
